/ReflectionTest/ReflectionTest.sdf
/ReflectionTest/Debug/ReflectionTest.pdb
/ReflectionTest/Release/ReflectionTest.iobj
/ReflectionTest/Release/ReflectionTest.pdb
/ReflectionTest/ReflectionTest/Release
/ReflectionTest/ReflectionTest/Debug
